.form fieldset,
.form fieldset legend {
    border-radius: 4px;
}

.form fieldset {
    position: relative;
    padding: 16px 8px 0 8px; /* Fallback */
    padding: 1rem 0.5rem 0 0.5rem;
    margin: 8px 0; /* Fallback */
    margin: 0.5rem 0;
    background-color: #F5F5F5; /* Fallback */
    background-color: var(--light-gray);
}

.form fieldset legend {
    padding: 16px ; /* Fallback */
    padding: 1rem;
    background-color: #fbc02d; /* Fallback */
    background-color: var(--yellow-700);
    width: 100%;
}

.text-progress {
    margin-top: 24px; /* Fallback */
    margin-top: 1.5rem;
    margin-right: 8px; /* Fallback */
    margin-right: 0.5rem;
}

@supports (box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)) {
    .form fieldset,
    .form fieldset legend {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); /* Fallback */
        box-shadow: var(--box-shadow);
    }
}