form {
    margin: 16px; /* Fallback */
    margin: 1rem;
}

.questions {
    margin-bottom: 80px; /* Fallback */
    margin-bottom: 5rem;
}

.links {
    text-align: center;
}

form .links {
    left: 0;
}

.links {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px; /* Fallback */
    padding: 0.5rem;
}

.form-questions .links {
    position: fixed;
    background-color: #FFF;
    background-color: var(--light);
}

/* Input fields */
.form-group {
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    margin: 0 0 10px;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
}

.form-group input {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    padding: 8px 16px;
    margin-top: 8px; /* Fallback */
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.6);
}

.form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
}

/* Tablet / Desktop */
@media only screen and (min-width: 768px) {
    .questions {
        margin-bottom: 32px; /* Fallback */
        margin-bottom: 2rem;
    }

    .form-name,
    .form-name .links {
        margin-top: 48px; /* Fallback */
        margin-top: 3rem;
    }

    .links {
        position: relative;
        bottom: unset;
        width: 100%;
        padding: 0;
    }

    .form-questions .links {
        position: relative;
        left: unset;
        background-color: transparent;
    }
}

@supports (display: flex) {
    .flex-links {
        display: flex;
        justify-content: space-between;
    }

    .form-group {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .form-group input {
        box-sizing: border-box;
        border-radius: 4px;
    }
}