form {
    margin: 16px; /* Fallback */
    margin: 1rem;
}

.questions {
    margin-bottom: 48px; /* Fallback */
    margin-bottom: 3rem;
}

.links {
    text-align: center;
}

form .links {
    left: 0;
}

.links {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px; /* Fallback */
    padding: 0.5rem;
}

.form-questions .links {
    position: fixed;
    background-color: #FFF;
    background-color: var(--light);
}

@media only screen and (min-width: 768px) {
    .questions {
        margin-bottom: 32px; /* Fallback */
        margin-bottom: 2rem;
    }

    .form-name,
    .form-name .links {
        margin-top: 48px; /* Fallback */
        margin-top: 3rem;
    }

    .links {
        position: relative;
        bottom: unset;
        width: 100%;
        padding: 0;
    }

    .form-questions .links {
        position: relative;
        left: unset;
        background-color: transparent;
    }
}

@supports (display: flex) {
    .flex-links {
        display: flex;
        justify-content: space-between;
    }
}