nav {
    padding: 12px; /* Fallback */
    padding: 0.75rem;
    background-color: #333; /* Fallback */
    background-color: var(--dark);
    color: #fbc02d; /* Fallback */
    color: var(--yellow-700);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); /* Fallback */
    box-shadow: var(--box-shadow);
}
