.progress-bar-wrapper {
    display: none;
}

.progress-bar-wrapper.show {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#progress-bar {
    width: 95%;
    background-color: #ddd;
    margin: 16px 0; /* Fallback */
    margin: 1rem 0;
}

#bar {
    height: 16px;
    background-color: #4CAF50;
}

#progress {
    position: absolute;
    color: #333; /* Fallback */
    color: var(--dark);
}

@supports (border-radius: 4px) {
    #progress-bar,
    #bar {
        border-radius: 4px;
    }
}